@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  @font-face {
    font-family: Ahsing;
    src: url('fonts/Ahsing-Regular.woff') format('woff'),
         url('fonts/Ahsing-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  body {
    @apply text-base leading-normal lg:text-lg;
  }

  h1 {
    @apply font-ahsing text-5xl leading-tight lg:text-7xl;
  }

  h2 {
    @apply font-roboto-mono font-bold text-xl lg:text-4xl leading-tight ;
  }

  h3 {
    @apply font-roboto-mono text-lg font-bold leading-tight lg:text-4xl;
  }
  h4 {
    @apply font-roboto-mono text-lg font-bold leading-tight lg:text-3xl;
  }
}

@layer components {
  .grid-mask {
    @apply absolute top-0 left-0 w-full h-full;
    mask-image: 
      linear-gradient(to right, #fff 1px, transparent 1px), 
      linear-gradient(to bottom, #fff 1px, transparent 1px);
    mask-size: 70px 75px; /* Taille de la grille */
    pointer-events: none; /* Empêche l'interaction */
    z-index: 10;
  }

  .gradient-bg-hero {
    @apply relative flex;
    background: linear-gradient(183deg, #DBDFE1 36.49%, #630CAF 187.59%);
    z-index: 0; /* Met le dégradé en arrière-plan */
    
  }



  ::selection {
  background-color: #BCA9D4; /* Couleur de fond pour la sélection */
  color: #000; /* Couleur du texte sélectionné */
} 

}
