@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ahsing";
    src: url('@assets/font/Ahsing-Regular.woff') format('woff'),
         url('@assets/font/Ahsing-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@layer base {
  body {
    @apply text-base leading-normal lg:text-lg;
  }

  h1 {
    @apply font-ahsing text-6xl leading-tight lg:text-7xl;
  }

  h2 {
    @apply font-roboto-mono text-xl lg:text-3xl font-semibold leading-tight;
  }

  h3 {
    @apply font-roboto-mono text-lg font-bold leading-tight lg:text-2xl;
  }
}
